[Unit]
Description=Postal
After=network.target docker.service shorewall.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/postal start
ExecStop=/usr/bin/postal stop

[Install]
WantedBy=multi-user.target
